@using Microsoft.AspNetCore.Blazor.Browser.Interop
@page "/"
@inject HttpClient Http

<h1>Velocity Stats</h1>

<p>Data in the table below covers stories from the 'Development - Next' board in Kanbanery. Only stories in 'Ready for QA', 'QA' and 'Done' are included. The stories must have an 'Estimate' and an 'Actual days' value.</p>

<div id="linechart_material" style="width: 900px; height: 500px"></div>

<span class="small">Last updated: @lastUpdatedDateTime</span>

@functions {
    private TaskInfo[] taskInfos;
    private DateTime lastUpdatedDateTime;

    protected override async Task OnInitAsync()
    {
        lastUpdatedDateTime = await Http.GetJsonAsync<DateTime>("api/stats/lastupdated");
        taskInfos = await Http.GetJsonAsync<TaskInfo[]>("api/stats/taskinfo");

        double runningTotal = 0;
        var data = new List<dynamic>();
        for (int i = 0; i < taskInfos.Length; i++)
        {
            runningTotal += taskInfos[i].Factor;
            double averageFactor = runningTotal / (i + 1);

            //Console.WriteLine($"{i}: factor:{taskInfos[i].Factor}, runningTotal:{runningTotal}, AverageFactor:{averageFactor}");

            data.Add(new { MovedAt = taskInfos[i].MovedAt, AverageFactor = averageFactor });
        }

        RegisteredFunction.Invoke<bool>("drawChart", new[] { data.ToArray() });
    }
}